<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About the Author</title>
    <div th:insert=" base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<div class="container">
    <div class="jumbotron">
        <h1 style="text-align: center"><strong>About the Author</strong></h1>
        <br>
        <p>Katherine K Olsen is a certified Tableau Desktop Specialist with experience in
            Python and Java programming and data analytics and visualization.</p>
        <p>Some of her data visualizations can be viewed on Tableau Public (click
            <a href="https://public.tableau.com/profile/katherine.olsen#!/?newProfile=&activeTab=0">
                here</a>).</p>
    </div>
</div>
<div th:insert="base :: footer2"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>