<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assemble Your Dashboard</title>
    <div th:insert="base :: head"></div>
</head>

<body>
<div th:replace="base :: navlinks"></div>
<div class="container">
    <div class="jumbotron">
        <h1 style="text-align: center"><strong>Assemble Your Dashboard</strong></h1>
        <br>
        <p>[INSERT CONTENT]</p>
        <br>
        <p>This is what the dashboard tab looks like:</p>
        <br>
        <img src="https://res.cloudinary.com/dhg2lpfid/image/upload/v1569387453/Screenshot_of_Georgia_Tableau_Dashboard_Layout_nd4kj7.png"
             alt="Tableau Individual Page"
             class="center"
             height="400">
        <br>
        <p>Here is what the dashboard looks like when posted on Tableau Public:</p>
        <br>
        <img src="https://res.cloudinary.com/dhg2lpfid/image/upload/v1569387453/Screenshot_of_Georgia_Dashboard_on_Tableau_Public_v1_qssnwe.png"
             alt="Tableau Individual Page"
             class="center"
             height="400">
        <br>
        <h3> Next: Learn some <a href="/dashboardDesign">Dashboard Design Tips</a>.</h3>

    </div>
</div>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>
