<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Individual Pages</title>
    <div th:insert="base :: head"></div>
</head>

<body>
<div th:replace="base :: navlinks"></div>
<div class="container">
    <div class="jumbotron">
        <h1 style="text-align: center"><strong>Create Individual Pages</strong></h1>
        <br>
        <p>[INSERT CONTENT]</p>
        <br>
        <img src="https://res.cloudinary.com/dhg2lpfid/image/upload/v1569387453/Screenshot_Individual_Page_from_Georgia_Tableau_Project_rrxitj.png"
             alt="Tableau Individual Page"
             class="center"
             height="400">

    </div>
</div>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>
