<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a Dashboard Using Tableau</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<div class="container">
    <div class="jumbotron">
        <h1 style="text-align: center"><strong>How to Create a Dashboard Using Tableau&#0174</strong></h1>
        <br>
        <p>Interested in learning how to create dashing dashboards in Tableau to
            showcase your amazing analyses?
            Here are some suggestions to help you get started.</p>
        <p>You can download Tableau Desktop
            <a href ="https://www.tableau.com/products/desktop/download">here</a>.
            Using Tableau Desktop gives you privacy and you can post your completed
            dashboard to <a href="https://public.tableau.com/en-us/s/">Tableau Public</a>
            if you so desire.</p>
        <p>Alternatively, you can create a dashboard without downloading anything using
            <a href="https://sso.online.tableau.com/public/idp/SSO">Tableau Online</a>.
            Never use this option (or post to Tableau Public) if you are using proprietary
            (company) data.</p>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Prepare Your Data</h2>
                    <p>Ensure your data is properly organized and cleaned up <i>before</i>
                        you bring it into Tableau.</p>
                    <p><a href ="/prepareData">More . . .</a></p>
                </div>
                <div class="col-sm-6">
                    <h2>Create Individual Pages</h2>
                    <p>Create multiple individual pages to explore your data.  You can always
                        prune down the number later.</p>
                    <p><a href ="/createPages">More . . .</a></p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <h2>Assemble Your Dashboard</h2>
                    <p>Use the individual pages you have created to assemble
                        a preliminary dashboard, then add additional elements.</p>
                    <p><a href ="/assembleDashboard">More . . .</a></p>
                </div>
                <div class="col-sm-6">
                    <h2>Dashboard Design Tips</h2>
                    <p>Keep your dashboard as simple, uncluttered, and unified as
                        possible. Make it interactive.</p>
                    <p><a href ="/dashboardDesign">More . . .</a></p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <h2>Additional Resources</h2>
                    <p>Extensive additional resources are available.</p>
                    <p><a href ="/additionalResources">More . . .</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>